@charset "UTF-8";
.content__title, .button, .info__title, .expertise__heading, .services__title, .process__title, .card__number, .card__sub, .approach__title, .testimonials__title, .work__title, .footer__title, .form__input {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #253757; }

.header__hire, .nav__link, .process__subtitle, .approach__subtitle, .testimonials__subtitle, .people__company, .footer__subtitle, .slider__title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none; }

.content__description, .services__text, .process__text, .approach__text, .slider__text {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #6c788b; }

.info__text, .card__text, .people__review, .people__name, .work__text, .footer__text {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #6c788b; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.ttf");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.ttf");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Open Sand", sans-serif;
  src: url("../fonts/OpenSans-Regular.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Open Sand", sans-serif;
  src: url("../fonts/OpenSans-SemiBold.ttf");
  font-weight: 600;
  font-style: normal; }

html,
body,
ul,
li,
button,
input,
textarea {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth; }

.header {
  position: relative;
  padding: 48px 0 0 20px;
  height: 800px;
  width: 100%;
  border-bottom-left-radius: 200px;
  background-color: #008aff; }
  .header__wrapper {
    position: relative;
    margin: 0 auto;
    max-width: 1600px; }
  .header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header__hire {
    position: absolute;
    right: 227px;
    min-width: 70px;
    padding: 8px 0;
    line-height: 150%;
    border-bottom: 2px solid #ff9c8e;
    border-radius: 4px;
    color: #fff;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s; }
    .header__hire:hover {
      -webkit-box-shadow: 0 9px 18px rgba(255, 255, 255, 0.03);
              box-shadow: 0 9px 18px rgba(255, 255, 255, 0.03);
      opacity: 0.7; }
    @media (max-width: 1360px) {
      .header__hire {
        right: 100px; } }

@media screen and (max-width: 960px) {
  .header {
    padding: 48px 20px 0;
    text-align: center; }
    .header__hire {
      display: none; } }

.logo {
  width: 46px;
  height: 28px;
  margin-right: 78px;
  margin-left: 227px;
  z-index: 1;
  background: url(../images/logo/dia-logo.svg) no-repeat center;
  background-size: contain; }
  @media (max-width: 1360px) {
    .logo {
      margin-left: 100px; } }
  @media (max-width: 1060px) {
    .logo {
      margin-left: 0; } }

.nav {
  width: 637px; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none; }
    @media (max-width: 960px) {
      .nav__list {
        visibility: hidden;
        position: absolute;
        top: -100%;
        left: -100%;
        width: 100%;
        height: 600px;
        padding: 120px 20px;
        border-radius: 100px;
        background-color: #ff9c8e;
        -webkit-transition-duration: 0.3s;
                transition-duration: 0.3s; } }
  .nav__toggler {
    display: none; }
  .nav__toggler-label {
    display: none; }
    @media (max-width: 960px) {
      .nav__toggler-label {
        display: block;
        cursor: pointer; } }
    .nav__toggler-label:after {
      position: absolute;
      right: 2px;
      top: 2px;
      z-index: 2;
      content: "";
      width: 25px;
      height: 25px;
      background: url(../images/burger/open.svg) no-repeat center;
      background-size: contain; }
  .nav__toggler:checked + .nav__toggler-label::after {
    content: "";
    width: 21px;
    height: 21px;
    background: url(../images/burger/close.svg) no-repeat center;
    background-size: contain; }
  .nav__toggler:checked ~ .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 0;
    left: 0;
    visibility: visible; }
  .nav__link {
    color: #fff;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s; }
    .nav__link:hover {
      -webkit-box-shadow: 0 9px 18px rgba(255, 255, 255, 0.03);
              box-shadow: 0 9px 18px rgba(255, 255, 255, 0.03);
      opacity: 0.7; }
    @media (max-width: 960px) {
      .nav__link {
        font-size: 32px; } }

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .content__text {
    margin-top: 168px;
    margin-left: 227px;
    max-width: 490px;
    color: #fff; }
    @media (max-width: 1360px) {
      .content__text {
        margin-left: 100px; } }
    @media (max-width: 960px) {
      .content__text {
        margin: 168px auto 0; } }
  .content__title {
    margin: 0;
    font-size: 64px;
    line-height: 68px;
    letter-spacing: -2px;
    color: #fff; }
  .content__description {
    margin: 32px 0 83px;
    font-size: 18px;
    line-height: 150%;
    color: #fff; }
  @media (max-width: 960px) {
    .content__button {
      margin: 0 auto; } }

.button {
  font-size: 15px;
  line-height: 22px;
  width: 226px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  background-color: #ff9c8e;
  border: none;
  border-radius: 64px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s; }
  .button:hover {
    background-color: #ff7e6c; }

.section {
  position: relative;
  padding: 0 20px;
  height: 100%;
  max-width: 100%; }
  .section_white {
    background-color: #fff; }
  .section_orange {
    background-color: #ff9c8e;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px); }
    @media (min-width: 1600px) {
      .section_orange {
        border-top-right-radius: 200px; } }
  .section__wrapper {
    position: relative;
    margin: 0 auto;
    max-width: 1620px; }

.info {
  padding: 148px 0;
  margin: 0 auto;
  max-width: 754px; }
  .info__title {
    margin: 0 0 16px;
    font-size: 32px;
    line-height: 150%; }
  .info__text {
    margin: 0;
    font-size: 24px;
    line-height: 150%; }

@media screen and (max-width: 960px) {
  .info {
    text-align: center; } }

.expertise {
  margin: 0 auto;
  padding: 128px 0 155px;
  max-width: 1600px; }
  .expertise__heading {
    margin: 0 0 64px;
    font-size: 52px;
    line-height: 150%;
    text-align: center; }

@media screen and (max-width: 960px) {
  .expertise {
    padding: 64px 0 75px; }
    .expertise__heading {
      font-size: 40px; } }

.services {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 264px);
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  /* stylelint-disable */
  /* stylelint-enable */
  /* stylelint-disable */ }
  .services__box {
    text-align: center;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s; }
    .services__box:hover {
      -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
              box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
      border-radius: 24px;
      -webkit-transform: scale(1.22);
              transform: scale(1.22); }
      .services__box:hover .services__img {
        width: 100%;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0; }
      .services__box:hover .services__text {
        margin-bottom: 40px; }
  .services__img {
    height: 166px;
    width: 184px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    border-radius: 24px;
    -webkit-transition: width 0.3s;
    transition: width 0.3s; }
  .services__title {
    margin: 40px 0 16px;
    font-size: 20px;
    line-height: 140%; }
  .services__text {
    margin: 0;
    font-size: 14px;
    line-height: 150%;
    -webkit-transition: margin-bottom 0.3s;
    transition: margin-bottom 0.3s; }

/* stylelint-enable */
@media screen and (max-width: 960px) {
  .services {
    margin: 0 auto;
    width: 264px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .services__box {
      margin-bottom: 40px; } }

.process {
  margin: 0 auto;
  padding: 250px 0;
  max-width: 1600px; }
  .process__subtitle {
    margin: 0 0 16px 227px;
    max-width: 127px;
    line-height: 19px;
    color: #c0cdd7; }
  .process__title {
    margin: 0 0 24px 227px;
    max-width: 362px;
    font-size: 32px;
    line-height: 130%; }
  .process__text {
    margin: 0 0 24px 227px;
    max-width: 362px;
    font-size: 14px;
    line-height: 150%; }

@media screen and (max-width: 1060px) {
  .process {
    margin: 0 auto;
    padding: 74px 0 60px;
    text-align: center; }
    .process__subtitle, .process__title, .process__text {
      margin-left: auto;
      margin-right: auto; }
    .process__title {
      margin-bottom: 40px; } }

.card {
  position: absolute;
  z-index: 1;
  padding: 32px;
  width: 264px;
  height: 264px;
  background-color: #fff;
  -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
          box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
  border-radius: 24px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s; }
  .card__number {
    margin: 0 0 24px;
    width: 46px;
    height: 24px;
    font-size: 13px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 23px; }
    .card__number_first {
      background-color: rgba(86, 204, 242, 0.1);
      color: #56ccf2; }
    .card__number_second {
      background-color: rgba(252, 201, 29, 0.1);
      color: #fcc91d; }
    .card__number_third {
      background-color: rgba(21, 216, 80, 0.1);
      color: #15d850; }
    .card__number_fourth {
      background-color: rgba(243, 99, 99, 0.1);
      color: #f36363; }
  .card__text {
    margin-bottom: 32px;
    font-size: 13px;
    line-height: 150%; }
  .card__learn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .card__circle {
    margin-right: 16px;
    width: 40px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 50%; }
    .card__circle_first {
      background-color: #56ccf2; }
    .card__circle_second {
      background-color: #fcc91d; }
    .card__circle_third {
      background-color: #15d850; }
    .card__circle_fourth {
      background-color: #f36363; }
  .card__link {
    width: 16px;
    height: 16px;
    background: url(../images/arrow.svg); }
  .card__sub {
    font-size: 15px;
    line-height: 22px;
    text-decoration: none;
    color: #334563; }
  .card:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    cursor: pointer; }
  .card_first {
    top: 280px;
    right: 521px; }
  .card_second {
    top: 148px;
    right: 227px; }
  .card_third {
    top: 574px;
    right: 521px; }
  .card_fourth {
    top: 442px;
    right: 227px; }
  @media (max-width: 1410px) {
    .card_first {
      top: 158px;
      right: 150px; }
    .card_second {
      top: 452px;
      right: 150px; }
    .card_third {
      top: 746px;
      right: 150px; }
    .card_fourth {
      top: 1040px;
      right: 150px; } }
  @media (max-width: 1060px) {
    .card {
      margin: 0 auto 40px;
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .card_first {
        top: 0;
        right: 0; }
      .card_second {
        top: 0;
        right: 0; }
      .card_third {
        top: 0;
        right: 0; }
      .card_fourth {
        top: 0;
        right: 0; } }

.approach {
  margin-left: 204px;
  padding: 204px 0;
  max-width: 362px;
  color: #fff; }
  @media (max-width: 1160px) {
    .approach {
      margin-left: 100px; } }
  @media (max-width: 1060px) {
    .approach {
      margin: 0 auto; } }
  .approach__subtitle {
    margin: 0 0 16px;
    line-height: 19px; }
    @media (max-width: 420px) {
      .approach__subtitle {
        text-align: center; } }
  .approach__title {
    margin: 0 0 32px;
    font-size: 32px;
    line-height: 150%;
    color: #fff; }
    @media (max-width: 420px) {
      .approach__title {
        text-align: center;
        margin-bottom: 60px; } }
  .approach__item {
    margin-bottom: 64px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 420px) {
      .approach__item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .approach__item:last-child {
    margin-bottom: 0; }
  .approach__logo {
    width: 64px;
    height: 64px;
    background-color: #fff;
    border-radius: 50%; }
    .approach__logo_first {
      background: url(../images/features/features-item-icon-1.svg); }
    .approach__logo_second {
      background: url(../images/features/features-item-icon-2.svg); }
    .approach__logo_third {
      background: url(../images/features/features-item-icon-3.svg); }
    @media (max-width: 420px) {
      .approach__logo {
        margin-bottom: 40px; } }
  .approach__text {
    margin: 0 0 0 34px;
    max-width: 250px;
    font-size: 15px;
    line-height: 150%;
    color: #fff; }
  .approach__image {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 687px;
    height: 680px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    border-top-left-radius: 200px; }
    @media (max-width: 1410px) {
      .approach__image {
        display: none; } }

.testimonials {
  margin: 0 auto;
  padding: 148px 0 168px;
  max-width: 1600px; }
  .testimonials__subtitle {
    margin: 0 0 16px 227px;
    max-width: 127px;
    line-height: 19px;
    color: #c0cdd7; }
  .testimonials__title {
    margin: 0 0 85px 227px;
    max-width: 362px;
    font-size: 32px;
    line-height: 130%; }

@media screen and (max-width: 1060px) {
  .testimonials {
    padding: 74px 0 84px;
    text-align: center; }
    .testimonials__subtitle, .testimonials__title {
      margin-left: auto;
      margin-right: auto; }
    .testimonials__title {
      margin-bottom: 60px; } }

.people {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 314px);
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  /* stylelint-disable */
  /* stylelint-enable */ }
  .people__box {
    position: relative;
    padding: 87px 32px 32px;
    width: 314px;
    height: 494px;
    text-align: center;
    background-color: #fff;
    border-radius: 24px;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s; }
    .people__box:hover {
      -webkit-transform: scale(1.1, 1.1);
              transform: scale(1.1, 1.1);
      -webkit-box-shadow: -1px -1px 20px -20px rgba(0, 0, 0, 0.75);
              box-shadow: -1px -1px 20px -20px rgba(0, 0, 0, 0.75); }
      .people__box:hover .people__pep {
        -webkit-transform: rotateZ(120deg);
                transform: rotateZ(120deg); }
      .people__box:hover .people__quote {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg); }
  .people__pep {
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s; }
    .people__pep--1 {
      position: absolute;
      top: 90px;
      left: 30px;
      width: 139px;
      height: 56px;
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #56ccf2;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #56ccf2;
      border-radius: 500px;
      -webkit-transform: rotate(-60deg);
              transform: rotate(-60deg); }
    .people__pep--2 {
      position: absolute;
      top: 170px;
      left: 140px;
      width: 139px;
      height: 56px;
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #56ccf2;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #56ccf2;
      border-radius: 500px;
      -webkit-transform: rotate(-60deg);
              transform: rotate(-60deg); }
    .people__pep--3 {
      position: absolute;
      top: 90px;
      left: 30px;
      width: 139px;
      height: 56px;
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #fcc304;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #fcc304;
      border-radius: 500px;
      -webkit-transform: rotate(-60deg);
              transform: rotate(-60deg); }
    .people__pep--4 {
      position: absolute;
      top: 170px;
      left: 140px;
      width: 139px;
      height: 56px;
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #fcc304;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #fcc304;
      border-radius: 500px;
      -webkit-transform: rotate(-60deg);
              transform: rotate(-60deg); }
    .people__pep--5 {
      position: absolute;
      top: 90px;
      left: 30px;
      width: 139px;
      height: 56px;
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #f25656;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #f25656;
      border-radius: 500px;
      -webkit-transform: rotate(-60deg);
              transform: rotate(-60deg); }
    .people__pep--6 {
      position: absolute;
      top: 170px;
      left: 140px;
      width: 139px;
      height: 56px;
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #f25656;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #f25656;
      border-radius: 500px;
      -webkit-transform: rotate(-60deg);
              transform: rotate(-60deg); }
  .people__img {
    position: relative;
    height: 140px;
    width: 140px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    border-radius: 50%; }
  .people__quote {
    margin: 82px auto 11px;
    width: 21px;
    height: 18px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s; }
    .people__quote_first {
      background: url(../images/testimonials/“-1.svg); }
    .people__quote_second {
      background: url(../images/testimonials/“-2.svg); }
    .people__quote_third {
      background: url(../images/testimonials/“-3.svg); }
  .people__review {
    margin: 0 auto 16px;
    width: 240px;
    font-size: 13px;
    line-height: 150%; }
  .people__name {
    margin: 0 0 4px;
    font-size: 13px;
    line-height: 150%;
    color: #253757; }
  .people__company {
    margin: 0;
    line-height: 19px;
    color: #c0cdd7; }

@media screen and (max-width: 1060px) {
  .people {
    margin: 0 auto;
    width: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .people__box {
      margin-bottom: 40px;
      width: 500px; }
    .people__pep {
      left: 186px; } }

@media screen and (max-width: 660px) {
  .people {
    margin: 0 auto;
    width: 314px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .people__box {
      margin-bottom: 40px;
      width: 314px; }
    .people__pep {
      -webkit-transition: -webkit-transform 0.3s;
      transition: -webkit-transform 0.3s;
      transition: transform 0.3s;
      transition: transform 0.3s, -webkit-transform 0.3s; }
      .people__pep--1 {
        position: absolute;
        top: 90px;
        left: 30px;
        width: 139px;
        height: 56px;
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #56ccf2;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #56ccf2;
        border-radius: 500px;
        -webkit-transform: rotate(-60deg);
                transform: rotate(-60deg); }
      .people__pep--2 {
        position: absolute;
        top: 170px;
        left: 140px;
        width: 139px;
        height: 56px;
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #56ccf2;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #56ccf2;
        border-radius: 500px;
        -webkit-transform: rotate(-60deg);
                transform: rotate(-60deg); }
      .people__pep--3 {
        position: absolute;
        top: 90px;
        left: 30px;
        width: 139px;
        height: 56px;
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #fcc304;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #fcc304;
        border-radius: 500px;
        -webkit-transform: rotate(-60deg);
                transform: rotate(-60deg); }
      .people__pep--4 {
        position: absolute;
        top: 170px;
        left: 140px;
        width: 139px;
        height: 56px;
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #fcc304;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #fcc304;
        border-radius: 500px;
        -webkit-transform: rotate(-60deg);
                transform: rotate(-60deg); }
      .people__pep--5 {
        position: absolute;
        top: 90px;
        left: 30px;
        width: 139px;
        height: 56px;
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #f25656;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #f25656;
        border-radius: 500px;
        -webkit-transform: rotate(-60deg);
                transform: rotate(-60deg); }
      .people__pep--6 {
        position: absolute;
        top: 170px;
        left: 140px;
        width: 139px;
        height: 56px;
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #f25656;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #f25656;
        border-radius: 500px;
        -webkit-transform: rotate(-60deg);
                transform: rotate(-60deg); } }

.work {
  position: relative;
  margin: 0 auto;
  padding: 199px 0;
  max-width: 1600px;
  overflow: hidden;
  text-align: center; }
  .work__title {
    margin: 0 0 24px;
    font-size: 52px;
    line-height: 150%; }
  .work__text {
    margin: 0 0 64px;
    font-size: 24px;
    line-height: 150%; }
  .work__button {
    margin: 0 auto; }

@media screen and (max-width: 960px) {
  .work {
    padding: 99px 0; }
    .work__title {
      font-size: 40px; } }

.footer {
  padding: 180px 20px 81px;
  background-color: #008aff;
  border-top-right-radius: 200px; }
  .footer__top {
    margin: 0 auto;
    max-width: 1063px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch; }
  .footer__block_first {
    margin-right: 226px; }
    @media (max-width: 1360px) {
      .footer__block_first {
        margin-right: 80px; } }
  .footer__block_second {
    margin: 0; }
    @media (max-width: 1060px) {
      .footer__block_second {
        width: 300px;
        text-align: center; } }
  .footer__title {
    margin: 0 0 56px;
    font-size: 32px;
    line-height: 150%;
    color: #fff; }
    @media (max-width: 1060px) {
      .footer__title {
        text-align: center; } }
  .footer__subtitle {
    margin: 0 0 8px;
    line-height: 19px;
    color: #fff;
    opacity: 0.5;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s; }
  .footer__text {
    display: block;
    margin-bottom: 48px;
    font-size: 24px;
    line-height: 150%;
    text-decoration: none;
    color: #fff;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s; }
    .footer__text:hover {
      -webkit-box-shadow: 0 9px 18px rgba(255, 255, 255, 0.03);
              box-shadow: 0 9px 18px rgba(255, 255, 255, 0.03);
      opacity: 0.7; }
  .footer__socials-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 1060px) {
      .footer__socials-wrapper {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }
  .footer__socials {
    margin: 8px 32px 0 0;
    width: 32px;
    height: 32px;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s; }
    .footer__socials_facebook {
      background: url("../images/logo/facebook.svg") no-repeat center;
      background-size: contain; }
    .footer__socials_twitter {
      background: url("../images/logo/twitter.svg") no-repeat center;
      background-size: contain; }
    .footer__socials_instagram {
      background: url("../images/logo/instagram.svg") no-repeat center;
      background-size: contain; }
    .footer__socials:hover {
      opacity: 0.7; }
    @media (max-width: 1060px) {
      .footer__socials {
        margin: 8px auto 0; } }
  .footer__bottom {
    margin: 121px auto 0;
    max-width: 1063px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer__logo {
    margin-left: 0; }
  @media (max-width: 1110px) {
    .footer__nav {
      display: none; } }

@media screen and (max-width: 1060px) {
  .footer {
    padding: 90px 20px 81px; }
    .footer__top {
      margin: 0 auto;
      max-width: 300px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    .footer__block_first {
      margin: 0 0 100px; } }

.form {
  width: 460px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media (max-width: 1060px) {
    .form {
      width: 300px; } }
  .form__input {
    margin: 0 0 48px;
    padding-bottom: 16px;
    width: 100%;
    font-size: 15px;
    line-height: 22px;
    color: #fff;
    background-color: #008aff;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    -webkit-transition: border-bottom 0.3s;
    transition: border-bottom 0.3s; }
    .form__input::-webkit-input-placeholder {
      color: #fff;
      opacity: 0.5;
      -webkit-transition: opacity 0.3s;
      transition: opacity 0.3s; }
    .form__input::-moz-placeholder {
      color: #fff;
      opacity: 0.5;
      -moz-transition: opacity 0.3s;
      transition: opacity 0.3s; }
    .form__input:-ms-input-placeholder {
      color: #fff;
      opacity: 0.5;
      -ms-transition: opacity 0.3s;
      transition: opacity 0.3s; }
    .form__input::-ms-input-placeholder {
      color: #fff;
      opacity: 0.5;
      -ms-transition: opacity 0.3s;
      transition: opacity 0.3s; }
    .form__input::placeholder {
      color: #fff;
      opacity: 0.5;
      -webkit-transition: opacity 0.3s;
      transition: opacity 0.3s; }
    .form__input:hover {
      border-bottom: 2px solid #fff; }
      .form__input:hover::-webkit-input-placeholder {
        opacity: 0.7; }
      .form__input:hover::-moz-placeholder {
        opacity: 0.7; }
      .form__input:hover:-ms-input-placeholder {
        opacity: 0.7; }
      .form__input:hover::-ms-input-placeholder {
        opacity: 0.7; }
      .form__input:hover::placeholder {
        opacity: 0.7; }
  .form__button {
    margin-top: 32px; }
    @media (max-width: 1060px) {
      .form__button {
        margin: 0 auto; } }

.beep {
  -webkit-animation: 4s linear 0s infinite normal beep-animation;
          animation: 4s linear 0s infinite normal beep-animation; }
  .beep--1 {
    position: absolute;
    top: 100px;
    left: 200px;
    width: 86px;
    height: 34px;
    border: 2px solid #f25656;
    border-radius: 500px;
    -webkit-transform: rotate(-65.1deg);
            transform: rotate(-65.1deg);
    opacity: 0.5; }
  .beep--2 {
    position: absolute;
    top: 100px;
    left: 400px;
    width: 45px;
    height: 18px;
    border: 2px solid #fcc304;
    border-radius: 500px;
    -webkit-transform: rotate(-65.1deg);
            transform: rotate(-65.1deg);
    opacity: 0.5; }
  .beep--3 {
    position: absolute;
    top: 330px;
    left: 220px;
    width: 143px;
    height: 57px;
    border: 2px solid #03d542;
    border-radius: 500px;
    -webkit-transform: rotate(-65.1deg);
            transform: rotate(-65.1deg);
    opacity: 0.5; }
  .beep--4 {
    position: absolute;
    top: 400px;
    left: 50px;
    width: 67px;
    height: 27px;
    border: 2px solid #56ccf2;
    border-radius: 500px;
    -webkit-transform: rotate(-65.1deg);
            transform: rotate(-65.1deg);
    opacity: 0.5; }
  .beep--5 {
    position: absolute;
    top: 550px;
    left: 100px;
    width: 94px;
    height: 37px;
    border: 2px solid #bc04fc;
    border-radius: 500px;
    -webkit-transform: rotate(-65.1deg);
            transform: rotate(-65.1deg);
    opacity: 0.5; }
  .beep--6 {
    position: absolute;
    top: 500px;
    left: 440px;
    width: 45px;
    height: 18px;
    border: 2px solid #fcc304;
    border-radius: 500px;
    -webkit-transform: rotate(-65.1deg);
            transform: rotate(-65.1deg);
    opacity: 0.5; }
  .beep--7 {
    position: absolute;
    top: 410px;
    left: 1200px;
    width: 86px;
    height: 34px;
    border: 2px solid #f25656;
    border-radius: 500px;
    -webkit-transform: rotate(-65.1deg);
            transform: rotate(-65.1deg);
    opacity: 0.5; }
  .beep--8 {
    position: absolute;
    top: 300px;
    left: 1430px;
    width: 86px;
    height: 34px;
    border: 2px solid #fcc304;
    border-radius: 500px;
    -webkit-transform: rotate(-65.1deg);
            transform: rotate(-65.1deg);
    opacity: 0.5; }
  .beep--9 {
    position: absolute;
    top: 190px;
    left: 1280px;
    width: 143px;
    height: 57px;
    border: 2px solid #03d542;
    border-radius: 500px;
    -webkit-transform: rotate(-65.1deg);
            transform: rotate(-65.1deg);
    opacity: 0.5; }
  .beep--10 {
    position: absolute;
    top: 480px;
    left: 1300px;
    width: 154px;
    height: 61px;
    border: 2px solid #56ccf2;
    border-radius: 500px;
    -webkit-transform: rotate(-65.1deg);
            transform: rotate(-65.1deg);
    opacity: 0.5; }
  .beep--11 {
    position: absolute;
    top: 140px;
    left: 1450px;
    width: 54px;
    height: 21px;
    border: 2px solid #bc04fc;
    border-radius: 500px;
    -webkit-transform: rotate(-65.1deg);
            transform: rotate(-65.1deg);
    opacity: 0.5; }
  .beep--12 {
    position: absolute;
    top: 530px;
    left: 1000px;
    width: 45px;
    height: 18px;
    border: 2px solid #bc04fc;
    border-radius: 500px;
    -webkit-transform: rotate(-65.1deg);
            transform: rotate(-65.1deg);
    opacity: 0.5; }

@-webkit-keyframes beep-animation {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes beep-animation {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.slider {
  margin-top: 44px;
  position: relative;
  width: 687px;
  height: 680px;
  border-top-left-radius: 200px;
  overflow: hidden; }
  @media (min-width: 1601px) {
    .slider {
      border-top-right-radius: 200px; } }
  .slider__image {
    width: 687px;
    height: 680px;
    position: absolute;
    -webkit-transition: all ease 1s;
    transition: all ease 1s;
    left: 0;
    top: 0; }
  .slider__menu {
    margin: 564px 0 0 48px;
    position: absolute;
    z-index: 1;
    width: 264px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .slider__title {
    margin: 0 0 8px;
    line-height: 19px;
    color: #fff; }
  .slider__text {
    margin: 0;
    font-size: 14px;
    line-height: 140%;
    color: #fff; }
  .slider__block_button {
    margin-right: 24px;
    padding-top: 18px; }
  .slider__button {
    width: 32px;
    height: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    outline: none;
    border: none;
    background-color: #fff;
    border-radius: 50%; }
    .slider__button:hover {
      cursor: pointer;
      opacity: 0.8; }
  .slider__arrow {
    width: 8px;
    height: 8px;
    background: url(../images/slider/arrow-left.svg) no-repeat center;
    background-size: contain; }
  @media (max-width: 960px) {
    .slider {
      display: none; } }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  background: #f2f9ff; }

.container {
  margin: 0 auto;
  padding-left: 121px;
  max-width: 1600px; }

@media screen and (max-width: 560px) {
  .container {
    padding-left: 20px; } }

/*# sourceMappingURL=main.css.map */
